/* Page sections for background images */

.top-section {
  background: $body-bg url('../img/bg-top_02.jpg') no-repeat center;
  background-size: cover;
  @include min($xs) {
    height: 180%;
  }
  @include min($md) {
    height: 160%;
  }
}

.bottom-section {
  padding-bottom: 65%;
  background: $body-bg url('../img/inner-bg-sm.jpg') no-repeat top center;
  background-size: cover;
  @include min($xxs) {
    padding-bottom: 45%;
  }
  @include min($xs) {
    padding-bottom: 30%;
  //  background-image: url('../img/inner-bg.jpg');
  }
  @include min($sm) {
    padding-bottom: 25%;
  }
  @include min($md) {
    padding-bottom: 15%;
  }
  @include min($lg) {
    padding-bottom: 12.5%;
  }
}


/* Hero */

.hero {
  @include va-middle;
  padding: 10em 0;
  @include min($xs) {
    height: 62.5%;
  }
}

.hero__title {
  margin: 0;
  font-size: 5em;
  letter-spacing: .1em;
}

.hero__subtitle {
  width: 240px;
  margin: 0 auto;
  font-size: .8em;
  letter-spacing: .13em;
  @include min($xs) {
    width: auto;
  }
}


/* About Me */

.about-me {
  padding: 3em 0;
  @include min($xs) {
    height: 37.5%;
  }
}

.about-me__image {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto 2em;
  border: 5px solid $border-color;
  border-radius: 50%;
  @include min($xs) {
    float: left;
    width: 220px;
    margin: 0 1em 1em 0;
    shape-outside: circle();
  }
  @include min($md + 50) {
    width: 300px;
  }
}

.about-me__title {
  margin: 0 0 .25em;
}


/* Works */

.works {
  color: $white;
  border-bottom: 5px solid $border-color;
}

.works-row {
  @include container;
  background-color: $headings-color; //darken($body-bg, 25%);
  border-top: 5px solid $border-color;
  @include min($lg) {
    display: flex;
    align-items: center;
  }
  &:hover {  // when hovering entire row, change .overlay opacity
    .overlay {
      opacity: 0;
      pointer-events: none;
    }
  }
  &:nth-child(even) {
    background-color: $text-color; //darken($body-bg, 25%);
    .works-image {
      @include min($lg) {
        @include push(5);
      }
    }
    .works-content {
      @include min($lg) {
        @include pull(12);
        padding: 3em 3em 3em 5em;
      }
    }
  }
}

.works-image {
  position: relative;
  @include min($lg) {
    @include span(7 no-gutters);
    @include overlay($body-bg, .25);
  }
  .overlay {
    transition: opacity .2s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}

.works-content {
  padding: 3em 2em;
  @include min($xs) {
    padding: 3em;
  }
  @include min($lg) {
    @include span(5 no-gutters);
    padding: 3em 5em 3em 3em;
  }
}

.works-image__screenshot {
  display: block;
  width: 100%;
  height: auto;
}

.works-content__title {
  margin: 0;
  color: $white;
  font-size: 1.7em;
}

.works-content__skills {
  margin: .25em 0 0;
  font-size: .7em;
  letter-spacing: .13em;
}

.works-content__desc {
  margin: 1em 0;
  @include min($lg) {
    margin: 2em 0;
  }
}

.works-content__buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
  }
}

.works-content__button {
  color: $white;
  background: transparent;
  border-color: $white;
  &:hover {
    color: $border-color;
    border-color: $border-color;
  }
}


/* Talks */

.talks {
  padding: 3em 0 0;
  margin: 0 0 3em;
  @include min($lg) {
    padding: 5em 0 0;
    margin: 0 0 5em;
  }
}

.talks__list {
  padding: 0;
  list-style-type: none;
}

.talks__list-item {
  margin: 1em 0;
}

.talks__name {
  display: block;
}

/* Contact */

.contact-form {
  padding: 0 2em;
  @include min($lg) {
    padding: 0;
  }
}

.contact__copy {
  margin: 0 0 2.5em;
}


/* Social */

.social {
  padding: 3em 0 0;
  @include min($lg) {
    padding: 5em 0 0;
  }
}

.social-list {
  margin: 0;
  padding: 0;
  font-size: 2em;
  list-style-type: none;
  li {
    display: inline-block;
    &:not(:last-of-type) {
      margin-right: .5em;
    }
  }
  a {
    color: $text-color;
    border: 0;
    &:hover {
      color: darken($link-color, 10%);;
    }
  }
}


/* Colophon */

.colophon {
  margin: 3em 0;
  @include min($lg) {
    margin: 5em 0;
  }
}

.colophon__title {
  margin: 0 0 .25em;
}