.top-section {
  height: 160%;
  background: $body-bg url('../img/bg-top_02.jpg') no-repeat center;
  background-size: cover;
}


/* Hero */

.hero {
  @include va-middle;
  height: 62.5%;
}

.hero__title {
  margin: 0;
  font-size: 5em;
  letter-spacing: .1em;
}

.hero__subtitle {
  font-size: .8em;
  letter-spacing: .13em;
}


/* About Me */

.about-me {
  padding: 3em 0;
  height: 37.5%;
}

.about-me__content {
  @include span(10);
  @include push(1);
}

.about-me__image {
  float: left;
  margin: 0 1em 1em 0;
  border: 5px solid $border-color;
  border-radius: 50%;
  shape-outside: circle();
}

.about-me__title {
  margin: 0 0 .25em;
}