/* Page sections for background images */

.top-section {
  height: 160%;
  background: $body-bg url('../img/bg-top_02.jpg') no-repeat center;
  background-size: cover;
}

.bottom-section {
  padding-bottom: 30%;
  background: $body-bg url('../img/bg-bottom_02.jpg') no-repeat bottom center;
  background-size: cover;
}


/* Hero */

.hero {
  @include va-middle;
  height: 62.5%;
}

.hero__title {
  margin: 0;
  font-size: 5em;
  letter-spacing: .1em;
}

.hero__subtitle {
  font-size: .8em;
  letter-spacing: .13em;
}


/* About Me */

.about-me {
  padding: 3em 0;
  height: 37.5%;
}

.about-me__content {
  @include span(10);
  @include push(1);
}

.about-me__image {
  float: left;
  margin: 0 1em 1em 0;
  border: 5px solid $border-color;
  border-radius: 50%;
  shape-outside: circle();
}

.about-me__title {
  margin: 0 0 .25em;
}


/* Works */

.works {
  color: $white;
  border-bottom: 5px solid $border-color;
}

.works-row {
  @include container;
  display: flex;
  align-items: center;
  background-color: $headings-color; //darken($body-bg, 25%);
  border-top: 5px solid $border-color;
  &:hover {  // when hovering entire row, change .overlay opacity
    .overlay {
      opacity: 0;
      pointer-events: none;
    }
  }
  &:nth-child(even) {
    background-color: $text-color; //darken($body-bg, 25%);
    .works-image {
      @include push(5);
    }
    .works-content {
      @include pull(12);
      padding: 3em 3em 3em 5em
    }
  }
}

.works-image {
  @include span(7 no-gutters);
  @include overlay($body-bg, .25);
  position: relative;
  .overlay {
    transition: opacity .2s cubic-bezier(0.47, 0, 0.745, 0.715);
  }
}

.works-content {
  @include span(5 no-gutters);
  padding: 3em 5em 3em 3em;
}

.works-image__screenshot {
  display: block;
  width: 100%;
  height: auto;
}

.works-content__title {
  margin: 0;
  color: $white;
  font-size: 1.7em;
}

.works-content__skills {
  margin: .25em 0 0;
  font-size: .7em;
  letter-spacing: .13em;
}

.works-content__desc {
  margin: 2em 0;
}

.works-content__buttons {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
  }
}

.works-content__button {
  color: $white;
  border-color: $white;
  &:hover {
    color: $border-color;
    border-color: $border-color;
  }
}


/* Colophon */

.colophon {
  padding: 5em 0;
}

.colophon__content {
  @include span(10);
  @include push(1);
}

.colophon__title {
  margin: 0 0 .25em;
}