<div class="works-row">
  <div class="works-image">
  <!--  <img src="img/works/index/robcoterminal.jpg" width="1024" height="819" alt="Robco Terminal Tumblr Theme" class="works-image__screenshot"> -->
    <%= image_tag(work["image"], size: "1024x819", alt: work["alt"], class: 'works-image__screenshot') %>
  </div>
  <div class="works-content">
    Sample text
  </div>
</div>