---
title: Raisa Yang - Front end developer
---

<div class="top-section">

  <section class="text-center hero">
    <div class="va-middle">
      <h1 class="hero__title">
        Raisa Yang
      </h1>
      <p class="text-uppercase hero__subtitle">
        Front end developer in Lehigh Valley, PA
      </p>
    </div>
  </section>

  <section class="about-me">
    <div class="container">
      <div class="content-wrapper about-me__content">
        <img src="img/profile-pic@2x.jpg" width="300" height="300" alt="" class="about-me__image">
        <h2 class="about-me__title">
          Hi, I'm Raisa!
        </h2>
        <p>
          I'm a front end developer and occasional speaker living in Lehigh Valley, PA. I build functional and responsive websites using modular stylesheets and a variety of tools such as WordPress, Middleman, and React. Other neat buzzwords I know are object-oriented CSS, Bootstrap, Susy, Grunt, mobile-first design, static site generators, and many more. See my works below!
        </p>
      </div>
    </div>
  </section>

</div><!-- .top-section -->

<section class="works">
  <% data.works.each do |work| %>
      <%= partial "partials/works-index", locals: { work: work } %>
  <% end %>
</section>

<div class="bottom-section">

  <section class="talks">
    <div class="container">
      <div class="content-wrapper talks__content">
        <h2 class="talks__title">Talks I've Done</h2>
        <ul class="talks__list">
          <% data.talks.each do |talk| %>
              <%= partial "partials/talks-index", locals: { talk: talk } %>
          <% end %>
        </ul>
      </div>
    </div>
  </section>

  <section class="colophon">
    <div class="container">
      <div class="content-wrapper colophon__content">
        <h2 class="colophon__title">
          Colophon
        </h2>
        <div class="colophon__desc">
          <p>This page was built with <a href="https://middlemanapp.com/" target="_blank">Middleman</a>, <a href="http://susydocs.oddbird.net/en/latest/" target="_blank">Susy</a>, and <a href="http://fontawesome.io/" target="_blank">Font Awesome</a>. Stock photo used is courtesy of <a href="https://unsplash.com/" target="_blank">Unsplash</a>. Check out the <a href="https://github.com/raiscake/raisayang.com" target="_blank">source code on Github</a>!</p>
        </div>
      </div>
    </div>
  </section>

</div><!-- .bottom-section -->