---
title: Raisa Yang - Front end developer
---

<div class="top-section">
  <section class="text-center hero">
    <div class="va-middle">
      <h1 class="hero__title">
        Raisa Yang
      </h1>
      <p class="text-uppercase hero__subtitle">
        Front end developer in Lehigh Valley, PA
      </p>
    </div>
  </section>

  <section class="about-me">
    <div class="container">
      <div class="about-me__content">
        <img src="img/profile-pic@2x.jpg" width="300" height="300" alt="" class="about-me__image">
        <h2 class="about-me__title">
          Hi, I'm Raisa!
        </h2>
        <p>
          I'm a front end developer and occasional speaker living in Lehigh Valley, PA. I build functional and responsive websites using modular stylesheets and a variety of tools such as WordPress, Middleman, and React. Other neat buzzwords I know are object-oriented CSS, Bootstrap, Susy, Grunt, mobile-first design, static site generators, and many more.
        </p>
      </div>
    </div>
  </section>
</div><!-- .top-section -->

<section class="works">
  <div class="works-row">
    <div class="works-image">
      <img src="img/works/index/wclvpa.jpg" width="1024" height="819" alt="WordCamp Lehigh Valley 2016 website" class="works-image__screenshot">
    </div>
    <div class="works-content">
        Sample text
    </div>
  </div>
  <div class="works-row">
    <div class="works-image">
      <img src="img/works/index/tastebook.jpg" width="1024" height="819" alt="Tastebook Reviews website" class="works-image__screenshot">
    </div>
    <div class="works-content">
      Sample text
    </div>
  </div>
  <div class="works-row">
    <div class="works-image">
      <img src="img/works/index/RSCK.jpg" width="1024" height="819" alt="RSCK website" class="works-image__screenshot">
    </div>
    <div class="works-content">
      Sample text
    </div>
  </div>
  <div class="works-row">
    <div class="works-image">
      <img src="img/works/index/robcoterminal.jpg" width="1024" height="819" alt="Robco Terminal Tumblr Theme" class="works-image__screenshot">
    </div>
    <div class="works-content">
      Sample text
    </div>
  </div>
</section>