---
title: Raisa Yang - Front end developer
---

<section class="text-center hero">
    <div class="va-middle">
      <h1 class="hero__title">
        Raisa Yang
      </h1>
      <p class="text-uppercase hero__subtitle">
        Front end developer in Lehigh Valley, PA
      </p>
    </div>
</section>

<section class="about-me">
  <div class="container">
    <h2 class="about-me__title">
      Hi, I'm Raisa!
    </h2>
    <p>
      I'm a front end developer and occasional speaker living in Lehigh Valley, PA. I build functional and responsive websites using modular CSS and a variety of tools such as WordPress, Middleman, and React. Other neat buzzwords I know are object-oriented CSS, BEM, mobile-first design, static site generators, and more!
    </p>
  </div>
</section>